/src/
/input/barbell biceps curl/
/input/bench press/
/input/chest fly machine/
/input/deadlift/
/input/decline bench press/
/input/hammer curl/
/input/hip thrust/
/input/incline bench press/
/input/lat pulldown/
/input/lateral raises/
/input/leg extension/
/input/leg raises/
/input/plank/
/input/pull up/
/input/push up/
/input/romanian deadlift/
/input/russian twist/
/input/shoulder press/
/input/squat/
/input/t bar row/
/input/tricep dips/
/input/tricep pushdown/
/outputs/model/
